h1
{
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 10rem;
}
a {
	text-decoration: none;
}